@use '../utils/' as *;

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    padding: 60px 0;

    .title {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
        img:nth-child(1) {
            margin-bottom: 8px;
        }
    }
}